* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

h6{
    font-size: 4rem;
    font-weight: 900;
    font-family:"DejaVu" sans-serif ;
    letter-spacing: -4px;
    background-image: linear-gradient(to right , rgb(24, 23, 23) , grey, grey,  rgb(210, 204, 204) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    cursor:none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


p {
    font-size: 18pt;
}

h1 {
    font-size: 30pt;
    color: #2e4156;
}


a{
    
    font-size: 18pt;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

a:hover {
    color: black;
}

footer {
    background-color: #28303a;
}
strong{
    color: red;
    
}

.mainjob {
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50vh;
    
}
hr{
    
}
.sub {
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.pro {
    position: relative;
    top: 200px;
    color: #eaf8e7;
    font-weight: bold;
    font-size: 18pt;
}

.itens {
    padding: 5px;
    border:2px solid #fff;
    border-radius: 10px;
    list-style: none;
}
.itens:hover{
    background-color: #fff;
    
}

.logo {
    background:linear-gradient(90deg 50%red , black);
    width: 275px;
    margin: 10px;
    border-radius: 10px;


}

.container {
    border-bottom: 2px solid #220022;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: transparent;
    backdrop-filter:blur(20px);
    align-items: center;


}

.bar {
    display: none;
    gap: 200px;

}

/*background: linear-gradient(90deg ,#515b64 , #28303a  );*/
.src {
    list-style: decimal;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 14pt;
    letter-spacing: 2px;
    font-weight: bold;
    color: #eaf8e7;
}

.sobre {
    color: #c1e6ba;
}

.Jobs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}


.proj {
    width: 500px;
    border-radius: 20px;
}

.menuclose{
    display: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 200px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 500px;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    z-index: 99;
}
.menuopen{
    z-index: 99;
    display:flex;
    border-radius: 10px;
    text-align: center;
    margin-top: 200px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 500px;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}


#close {
    background-color: rgb(51, 254, 0);
    color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-size: 18pt;
    cursor: pointer;
    transition: 0.2s;
}
#close:hover{
    background-color: rgb(37, 141, 37);
}

#whats {
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

#whats:hover {
    color: rgb(0, 255, 0);
}

#whatss {
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

#whatss:hover {
    color: rgb(0, 255, 0);
}

.direitos {
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.274);
}

.final {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #28303a;
}

.title {
    color: #fff;
    margin: 10px;

}



.hora {
    color: #fff;
    font-size: 15pt;
    background: transparent;
    border: 1px solid rgb(0, 255, 0);
    padding: 5px;
    border-radius: 10px;
}


.icons {
    border: none;
    background: none;
}



.icon {
    display: none;
}

i {

    font-size: 30px;
}
.hamburguer{
    display: none;
}

#nav-links.bar {
    display: none;
}
.navitens{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
@media screen and (max-width:750px) {
    .hamburguer{
        display: block;
    }
    .navitens{
        display: none;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

    .sobre {
        margin: 10px;
        height: 100px;
        max-width: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    p {
        font-size: 12pt;
    }
    
    .social {
        
        display: flex;
        flex-direction: column;
        font-size: 10pt;
        margin-left: 20px;
    }
    
    .pro {
        position: relative;
        top: 110px;
        font-size: 10pt;
    }

    .mainjob {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .Jobs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .proj {
        width: 250px;
    }

    .title {
        font-size: 14pt;
    }

    .hora {
        outline: none;
        font-size: 10pt;
    }

    .icon {
        display: flex;
    }

    

    
    .itens{
        border: none;
    }
    i{
        color: white;
    }
    .bar{
        display: block;
    }


}